<div class="media">
    <figure class="media-left image is-128x128">
        <img class="is-rounded" src="/img/felipe.jpg" />
    </figure>
    <div class="media-content">
        <p>Atualmente, um Geólogo que atua na área Ambiental, com foco na investigação 
            e remediação de área contaminadas.
        </p>
        <p>No passado, atuei como Analista Programador <i>Full-Stack</i>, com sistemas de 
            <i>e-commerce</i>, sites e sistemas institucionais e <i>backend</i> de games.
        </p>
        <p>Nas horas vagas, sou baixista nas bandas 
            <a href="https://www.instagram.com/cervamalterocknacional/" target="_blank">Cervamalte</a> e 
            <a href="https://www.instagram.com/dogtown.cbjr/">Dogtown</a>
            e me divirto com microcontroladores (ESP32 e Arduino), Gamedev e Marcenaria.
        </p>
    </div>
</div>

<h2>Interesses</h2>
<ul>
    <li>Geologia</li>
    <li>ESG (<i>Environmental, Social & Governance</i>)</li>
    <li>Programação (Python, C/C++, Rust, Javascript/Typescript)</li>
    <li>Unix</li>
    <li>Gamedev</li>
    <li>Música</li>
    <li>Microcontroladores Programáveis (ESP32, Arduino)</li>
    <li>Marcenaria</li>
</ul>